app-main{
  .logo {
    position:absolute;
    left:100px;
    top:0;
    width:203px;
    height:106px;
    z-index: 1000;
    background-image: url(../../assets/lol_logo.png);
    background-repeat:no-repeat;
  }
  .main-background {
    position:absolute;
    top:90px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-width:1320px;
    contain:layout size style;
    overflow:hidden;
    background-color: #000000;
    // background-image: url(../../assets/bg-wrap.jpg);
    background-repeat:no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
  }
  .container {
    position:absolute;
    width: 100%;
    min-width:1320px;
  }
  .main-items {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25%;
    min-width: 330px;
    background-color: #00A383;
    opacity: 0;
  }
  .main-champions {
    position: absolute;
    top: 150px;
    left: calc(50% - 330px);
    width: 660px;
    height: 500px;
    min-width:660px;
    background-color: transparent;
    overflow-y:scroll;
    .champions-list {
      background-color: transparent;
      .champions-tile {
        background-color: transparent !important;
        div {
          width: 70px;
          button {
            min-width: 70px;
            padding: 0;
            img {
              width: 70px;
            }
          }
          .name {
            padding-top: 10px;
            width: 70px;
            color: #ffcb60;
            font-size: 20px;
            text-align: center;
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,232,184,1)), to(rgba(175,133,48,1)));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
  #main-champions::-webkit-scrollbar-thumb {
    background-color: #ffcb60;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,232,184,1)), to(rgba(175,133,48,1)));
    -webkit-text-fill-color: transparent;
    border-radius: 10px;
  }
  #main-champions::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }
  .main-data {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 25%;
    min-width: 330px;
    background-color: #00A383;
    opacity: 0;
  }
  .main-title {
    position: relative;
    height: 50px;
    min-width:1320px;
    width: auto;
    margin-top: 30px;
    color: #ffcb60;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,232,184,1)), to(rgba(175,133,48,1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .main-search{
    display: inline-block;
    position: relative;
    height: 50px;
    min-width: 660px;
    width: auto;
    left: calc(50% - 330px);
    color: #ffcb60;
    font-size: 30px;
    line-height: 30px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2C333B), to(#142D30));
  }
  .sub-title {
    position: relative;
    height: 50px;
    min-width:1320px;
    width: auto;
    margin-top: 130px;
    color: #ffcb60;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,232,184,1)), to(rgba(175,133,48,1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
