app-main{
  .logo{
    position:absolute;
    left:100px;
    top:0;
    width:203px;
    height:106px;
    z-index: 1000;
    background-image: url(../../assets/lol_logo.png);
    background-repeat:no-repeat;
  }
  .main-background{
    position:absolute;
    top:90px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-width:1280px;
    contain:layout size style;
    overflow:hidden;
    background-color: #000000;
    background-image: url(../../assets/bg-wrap.jpg);
    background-repeat:no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
  }
  .container {
    position:absolute;
    width: 100%;
    min-width:1280px;
  }
  .main-items{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25%;
    min-width: 320px;
    background-color: #00A383;
    opacity: 0.2;
  }
  .main-champions{
    position: absolute;
    top: 0;
    left: 25%;
    bottom: 0;
    width: 50%;
    min-width:640px;
    background-color: #ffffff;
    opacity: 0.2;
  }
  .main-data{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 25%;
    min-width: 320px;
    background-color: #00A383;
    opacity: 0.2;
  }
  .main-title {
    position: relative;
    height: 50px;
    min-width:1280px;
    width: auto;
    margin-top: 30px;
    color: #ffcb60;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,232,184,1)), to(rgba(175,133,48,1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .sub-title {
    position: relative;
    height: 50px;
    min-width:1280px;
    width: auto;
    margin-top: 130px;
    color: #ffcb60;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,232,184,1)), to(rgba(175,133,48,1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
