<div class="logo"></div>
<div class="top">
  <div class="top-inner layout">
      <div class="main-nav-wrap">
          <ul class="main-nav">
            <li><a href="/">游戏资料<span>GAME INFO</span></a></li>
            <li><a href="/">战绩查询<span>MATCH</span></a></li>
            <li><a href="/">服务器切换<span>SERVICES</span></a></li>
          </ul>
      </div>
  </div>
</div>
<div class="main-background">
  <video class="container" autoplay="autoplay" loop>
    <!--<source src="../../assets/background.mp4" type='video/mp4'/>-->
    <source src="../../assets/kayn.webm" type='video/webm'/>
  </video>
  <div class="main-items">

  </div>
  <div class="main-champions">

  </div>
  <div class="main-data">

  </div>
  <div class="main-title">选择你的英雄</div>
  <div *ngFor="let title of temps">
    <div class="sub-title">{{title}}</div>
  </div>
  <div *ngFor="let champion of champions">

  </div>
</div>
